input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.app_heading {
	font-size: 3rem;
	color: #171815;
}

body {
	/* background-color: rgb(216, 210, 210) !important; */
	/* background-image: linear-gradient(to right, rgb(104, 204, 243), #aac737;); */
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin: 20px 0px;
}

.form-container {
	width: 500px;
	margin: 20px 0px;
	padding: 20px 10px;
	border: 1px solid #000;
	box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
}

@media only screen and (max-width: 720px) {
	.form-container {
		width: 320px;
	}
}

.header_image {
	width: 250px;
}

form input {
	text-align: left;
	margin: 5px 20px;
}

input {
	padding: 0.375rem 0.75rem;
	text-align: left;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.5rem;
	transition: border-color 0.15s;
}

input::placeholder {
	color: rgb(51, 49, 49);
}

.submit_button {
	background-color: #000;
	color: #fff;
	font-size: 1.1em;
	box-shadow: 7px 5px rgb(155, 152, 152);
	padding: 7px 30px;
	border-radius: 8px;
}

.submit_button:hover {
	background-color: #fff;
	color: #000;
}
